<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
    <i class="far fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-trash-alt"></i>
    <i class="fas fa-trash-alt"></i>
    <i class="far fa-edit"></i>
    <i class="fas fa-edit"></i>
    <i class="fas fa-arrow-up"></i>
    <i class="far fa-file"></i>
    <i class="fas fa-file"></i>

    <form class="form-inline" action="/api/resources" method="GET">
      <div class="form-group mb-2" style="margin: 0 auto">
          <input class="form-control" type="hidden" name="userId" value=2 >
          <button type="submit" class="btn btn-primary">My resources</button>
        </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">title</th>
          <th scope="col">description</th>
          <th scope="col">url</th>
          <th scope="col">#likes</th>
          <th scope="col">rating</th>
        </tr>
      </thead>
      <tbody>
        <% for(let el of data) { %>
          <tr>
            <td><%= el.user_id%></td>
            <td><%= el.title%></td>
            <td><%= el.description%></td>
            <td><%= el.url%></td>
            <td><%= el.number_of_likes%></td>
            <td><%= el.average_rating%></td>
          </tr>
        <% } %>
      </tbody>
    </table>

      <!-- search bar -->
      <div class="card text-center">
        <div class="card-header"></div>

        <div class="card-body">
            <h4 class="card-title">Search </h4>
            <p class="card-text">
              <form class="form-inline" action="/api/resources" method="GET">
                <div class="form-group mb-2" style="margin: 0 auto">
                  <label for="email">Rating:</label>
                    <input class="form-control" type="text" name="ratings" placeholder="rating" style="width: 300px; margin: 1em">
                  <label for="email">Category:</label>
                    <input class="form-control" type="number" name="category_id" placeholder="3" style="width: 300px; margin: 1em">
                    <label for="keyword">Keyword:</label>
                    <input class="form-control" type="text" name="keyword" placeholder="keyword" style="width: 300px; margin: 1em">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
              </form>

            </p>
          </div>
      <div class="card-footer text-muted"></div>
    </div>

    <!-- new resource -->

  <div class="card text-center">
    <div class="card-header"></div>

    <div class="card-body">
        <h4 class="card-title">What's good out there? </h4>
        <p class="card-text">
          <form class="form-inline" action="/api/resources/new" method="POST">
            <div class="form-group mb-2" style="margin: 0 auto">
              <label for="title">Title:</label>
                <input class="form-control" type="text" name="title" placeholder="title" style="width: 300px; margin: 1em">
              <label for="email">Category:</label>
                <input class="form-control" type="number" name="category_id" placeholder="3" style="width: 300px; margin: 1em">
                <label for="description">Description:</label>
                <input class="form-control" type="text" name="description" placeholder="say something about it" style="width: 300px; margin: 1em">
                <label for="url">link:</label>
                <input class="form-control" type="text" name="url" placeholder="url" style="width: 300px; margin: 1em">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>

        </p>
      </div>
  <div class="card-footer text-muted"></div>
</div>
  </body>
</html>
