<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"
    ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/indexRatings.js"></script>

    <title>NOTES - Home Page</title>
  </head>

  <body>
    <%-include("./partials/header") %>

  <div class="my-resources-container">

    <div style="margin: 200px 2.5%; width: 40%;" id="my-posts-slides" class="carousel slide" data-ride="carousel">
      <h1>My created posts</h1>
      <div class="carousel-inner">

        <% for(let i = 0; i < data.length; i ++) {%>
          <% if(data[i].owner_id === user.id) {%>
             <% if(i === 0) {%>
              <div class="card carousel-item active"
             <% } else {%>
             <div class="card carousel-item"
             <% } %>
              height="500px">
        <header>
          <div>
            <img
              class="img-thumbnail"
              src="<%= data[i].owner_profile_pic %>"
              alt="User profile picture"
            />
            <p class="owner_name">Posted by: <%= data[i].owner_name %></p>
          </div>
          <% if(data[i].owner_id === user.id) { %>
          <div>
            <a href="/api/resources/edit/<%= data[i].id %>"
              ><i class="far fa-edit"></i
            ></a>
            <form action="/api/resources/delete/<%= data[i].id %>" method="POST">
              <button type="submit">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
          </div>
          <% } %>
        </header>
        <div class="card-body">
          <content>
            <a href="<%= data[i].url %>" target="#blank">
              <h5 class="card-title"><%= data[i].title %></h5>
            </a>
            <p class="card-text"><%= data[i].description %></p>
          </content>
        </div>
      </div>
          <% }%>
        <% }%>



      </div>
    </div>


    <div style="margin: 200px 2.5%; width: 40%;" id="my-likes-slides" class="carousel slide" data-ride="carousel">

      <h1>My Liked posts</h1>

      <div class="carousel-inner">
        <% for(let i = 0; i < likesArr.length; i ++) {%>
             <% if(i === 0) {%>
              <div class="card carousel-item active"
             <% } else {%>
             <div class="card carousel-item"
             <% } %>
              height="500px">
        <header>
          <div>
            <img
              class="img-thumbnail"
              src="<%= likesArr[i].owner_profile_pic %>"
              alt="User profile picture"
            />
            <p class="owner_name">Posted by: <%= likesArr[i].owner_name %></p>
          </div>
          <% if(likesArr[i].owner_id === user.id) { %>
          <div>
            <a href="/api/resources/edit/<%= likesArr[i].id %>"
              ><i class="far fa-edit"></i
            ></a>
            <form action="/api/resources/delete/<%= likesArr[i].id %>" method="POST">
              <button type="submit">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
          </div>
          <% } %>
        </header>
        <div class="card-body">
          <content>
            <a href="<%= likesArr[i].url %>" target="#blank">
              <h5 class="card-title"><%= likesArr[i].title %></h5>
            </a>
            <p class="card-text"><%= likesArr[i].description %></p>
          </content>
          <img
            class="img-thumbnail"
            src="<%= likesArr[i].category_thumbnail %>"
            width="100px"
            height="100px"
            alt="Category image"
          />
        </div>
      </div>
        <% }%>
      </div>
    </div>

  </div>

  <hr style="border: 1.5px solid black">

  </body>
</html>
