<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      type="text/css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"
    ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>NOTES - Home Page</title>
  </head>

  <body>
    <%-include("./partials/header") %>

    <div class="card-columns">
      <% for(const el of data) { %>
      <div class="card" height="500px">
        <header>
          <div>
            <img
              class="img-thumbnail"
              src="<%= el.user_profile_pic %>"
              alt="User profile picture"
            />
            <p class="user_name">Posted by: <%= el.user_name %></p>
          </div>
          <% if(el.user_id === user.id) { %>
          <div>
            <form action="/api/resources/delete/<%= el.id %>" method="POST">
              <button type="submit">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
          </div>
          <% } %>
        </header>
        <div class="card-body">
          <content>
            <a href="<%= el.url %>" target="#blank">
              <h5 class="card-title"><%= el.title %></h5>
            </a>
            <p class="card-text"><%= el.description %></p>
          </content>
          <img
            class="img-thumbnail"
            src="<%= el.category_thumbnail %>"
            width="100px"
            height="100px"
            alt="Category image"
          />
        </div>
        <footer style="font-size: 0.8rem" class="text-muted">
          <div class="likes-section">
            <i id="<%= el.id %>" <% if(user.likes.includes(el.id)) {%>
              class="liked fas fa-heart" <% } else { %> class="not-liked fas
              fa-heart" <% } %>></i
            >
            <p><%= el.number_of_likes %></p>
          </div>
          <a href="/api/resources/<%= el.id %>"
            ><i class="far fa-comment-dots"></i
          ></a>
            <p style="margin-bottom: 0" id="avg_rating_of_<%= el.id %>">Avg. Rating: <%= el.average_rating %></p>
          <form class="rating">
            <input
              id="rating-5_<%= el.id %>"
              type="radio"
              name="rating"
              value="5"
              <% for(rating of user.ratings) {%> <% if(rating[0] == el.id) { %> <% if(rating[1] == 5) { %> <%="checked" %> <% } %> <% } %> <% } %> />
            <label for="rating-5_<%= el.id %>"
              ><i class="fas fa-star"></i
            ></label>
            <input
              id="rating-4_<%= el.id %>"
              type="radio"
              name="rating"
              value="4"
              <% for(rating of user.ratings) {%> <% if(rating[0] == el.id) { %> <% if(rating[1] == 4) { %> <%="checked" %> <% } %> <% } %> <% } %> />
            <label for="rating-4_<%= el.id %>"
              ><i class="fas fa-star"></i
            ></label>
            <input
              id="rating-3_<%= el.id %>"
              type="radio"
              name="rating"
              value="3"
              <% for(rating of user.ratings) {%> <% if(rating[0] == el.id) { %> <% if(rating[1] == 3) { %> <%="checked" %> <% } %> <% } %> <% } %> />
            <label for="rating-3_<%= el.id %>"
              ><i class="fas fa-star"></i
            ></label>
            <input
              id="rating-2_<%= el.id %>"
              type="radio"
              name="rating"
              value="2"
              <% for(rating of user.ratings) {%> <% if(rating[0] == el.id) { %> <% if(rating[1] == 2) { %> <%="checked" %> <% } %> <% } %> <% } %> />
            <label for="rating-2_<%= el.id %>"
              ><i class="fas fa-star"></i
            ></label>
            <input
              id="rating-1_<%= el.id %>"
              type="radio"
              name="rating"
              value="1"
              <% for(rating of user.ratings) {%> <% if(rating[0] == el.id) { %> <% if(rating[1] == 1) { %> <%="checked" %> <% } %> <% } %> <% } %> />
            <label for="rating-1_<%= el.id %>"
              ><i class="fas fa-star"></i
            ></label>
          </form>
        </footer>
      </div>
      <% } %>
    </div>

    <footer class="footer-faded"></footer>

    <script>
      const tl = gsap.timeline({ repeat: 0 });
      tl.staggerFromTo(
        ".card",
        1,
        { opacity: 0, scale: 0.85, y: 50 },
        { opacity: 1, scale: 1, y: 0 },
        0.05
      );
    </script>
  </body>
</html>
